@import url('../fonts/ptsans_bold_macroman/stylesheet.css');
@import url('../fonts/ptsans_regular_macroman/stylesheet.css');
@import url('../fonts/ptsansnarrow_bold_macroman/stylesheet.css');
@import url('../fonts/ptsansnarrow_regular_macroman/stylesheet.css');



body{padding: 120px 0px 0px; color: #4c535b;}
.nav-fbx {
	padding: 25px 0px 0px;margin-bottom: 0px;font-family: 'pt_sansregular';
	transition: opacity,padding .55s ease-in-out;
    -moz-transition: opacity,padding .55s ease-in-out;
    -webkit-transition: opacity,padding .55s ease-in-out;

}



 h1,h2,h3{
	font-family: 'pt_sans_narrowbold';
/*    font-size: 25px;
    color: #4c535b;
    margin-top: 30px;*/

}
/*h2{font-size: 1.2em}*/
h4{
	font-family: 'pt_sansbold';
}
p,label,input{
	font-size: 16px;
	font-family: 'pt_sansregular';
}
.nav-fbx.active{
  background-color: #fff;
  opacity: 1;
  padding: 5px;
  transition: opacity,padding .55s ease-in-out;
  -moz-transition: opacity,padding .55s ease-in-out;
  -webkit-transition: opacity,padding .55s ease-in-out;

  /*background: #f1f1f1;*/
}
section.banner-fbx {
    /* margin-top: 15px; */
}
.box-fbx-a {
    margin-top: 12px;
}
.box-fbx-nav ul {list-style: none; padding: 0px;margin: 0px 0px;}
.box-fbx-nav ul li{float: left; padding:  5px; font-family: 'pt_sansregular';}

.banner-fbx .carousel .item {width: 100%; min-height: 400px; background:url('../images/bgs/banner.jpg');background-size: cover;}

.banner-fbx .carousel .item img {    width: 100%;}
.banner-fbx .carousel .carousel-control {    background: none;    border: none;    top: 50%;}
.banner-fbx .box-fbx-nav div{padding: 0px}
.banner-fbx .box-fbx-nav a img{	
	width: 100%;
	opacity: 1;
	/*max-height: 183px;*/
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	min-height: 140px;
}
.banner-fbx .box-fbx-nav div  a:hover img{
	opacity:0.8;
}

.fbx-borde{
	border-top:solid 2px #dedfe1;
	border-bottom:solid 2px #dedfe1;
	margin: 40px 0px;
}
.fbx-ico-cancha {
	/*position: relative;
	
	z-index: 99;
	top: -35px;
	background: url('../images/web/cancha.png') no-repeat;
	background-size: contain;
	background-position: 0px 53px;
	/*height: 220px;*/
	/*width: 50%;*/*/
	margin-top: -;
	
margin-top: -15px;
	
margin-bottom: -10px;
}


#body-fbx .box-fbx-ftball h1{
	margin-top: 65px;
	border-bottom: solid 2px #dedfe1;
	padding-bottom: 20px;
    font-family: 'pt_sans_narrowbold';
    font-size: 31px;
}

#body-fbx .box-fbx-ftball h2{
	font-size: 27px;
	color: #7c8187;
	font-family:'pt_sansbold';
	padding: 20px;
}

.box-fbx-ftball hr{
    border: 0;
    height: 2px;
    background: #dedfe1;
}

.hr-fbx{
      background:url('../images/bgs/bg-hr.jpg') repeat-x top left;
      border: 0;
      margin: 70px 0px 100px;
      height: 20px;
}
.no-mp {margin: 10px; padding: 0px;}
.hr-fbx-b{
      background:url('../images/bgs/bg-hr-b.jpg') repeat-x top left;
      border: 0;
      margin: 70px 0px 70px;
      height: 20px;
}
#body-fbx .box-fbx-ftball p{
	color: #4c535b;
	font-family: 'pt_sansregular';
	font-size: 1.1em;
}

.box-fbx-gris{background: #f1f1f1;margin: 80px 0px;
padding: 00px 0px 30px;
}
.form-at-empresa {
	background-color: #f1f1f1;
	padding-top:10px;
	padding-bottom:10px;
}
.bg-arrow {
	  background:url('../images/bgs/arrow.png') no-repeat center left;
	  background-color:#f1f1f1; 
	  background-position-y: 30%;
}
.fbx-aim-b {
	padding-top: 50px;
}


#body-fbx .box-fbx-productos h2{
	font-family: 'pt_sans_narrowbold';
    font-size: 25px;
    color: #4c535b;
    margin-top: 30px;

}
#body-fbx .box-fbx-productos p{
	font-family: 'pt_sansregular';
	font-size: 1.1em;
	/* margin: 25px 50px; */
	padding: 10px 160px;
}
#body-fbx .box-fbx-productos p img{
	margin: 5px;
}



.fbx-relleno{
	background: #00437a;
	margin: 80px 0px 20px;
	padding-top:30px;
	padding-bottom:30px;
	color:#fff;
}
.fbx-relleno h2 {
	margin-top: 0px;
}

.fbx-relleno .box-fbx-text{
	padding-left: 50px;
	padding-right: 50px;
}
.fbx-relleno img{margin: 0 auto;}
.galeria div{padding: 0px;}
.galeria div img{
	padding:5px;
}

.certi{margin-bottom: 0px;}

.certi img{
	padding:20px 10px;
}

.box-fbx-bf-fixed{
	/*height: 500px;*/

	background-color: #1F1F1F;
	background-image:url('../images/bgs/bg-fix.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
	color:#fff;
}

.fbx-vista-obras{
	background:url('../images/bgs/o-x-arrow.png') no-repeat top right;
	background-position-y: 7%;
	/* background-size: inherit; */
}


.box-fbx-bf-fixed ul {list-style: none; padding: 0px;}
.box-fbx-bf-fixed ul li{float:left; padding: 10px; text-align: center;}

.box-fbx-empresa{
	padding: 20px;
	margin: 60px 0px;
}

footer nav {
	background: #727375;
	padding: 15px;
}

footer nav ul {list-style: none;padding:10px; margin:15px 0px;}
footer nav ul li {
	float: left;
	padding:10px;
	
}
footer nav ul li a{
	color:#fff;
}
.box-fbx-empresa h3{
	margin: 0px;
	font-size: 22px;
}
.aim .capa-1{
 margin-top: 235px;
}
.aim .capa-2{
 margin-top: -260px; 
 margin-left: 100px; position: relative; z-index: 9;
}
.aim .capa-3{
  margin-top: -303px; 
  margin-left: 0px;
}
.aim .capa-4{
margin-top: -302px; 
margin-left: 71px; position: relative; z-index: 10;
}
.aim .capa-5{
 margin-top: 25px; margin-left: 55px;
}

@media (max-width: 767px) { 

}

/*Parallax Backgrounds
------------------------------------*/
/*Parallax Counter Block*/
.parallax-counter {
	padding: 30px 0;
	background: url(../img/patterns/5.png) repeat fixed;
}

.parallax-counter .counters {
	color: #fff;
	padding: 15px 0;
	/*background: rgba(255,255,255,0.1);*/
}

.parallax-counter h4 {
	color: #999;
	font-size: 16px;
	text-transform: uppercase;
}

.parallax-counter span.counter {
	font-size: 48px;
}

/*Parallax Team*/
.parallax-team {
	background: url(../img/team/faces.html) 50% 0 repeat fixed;	
}

.parallax-team,
.parallax-team .title-box-v2 {
	position: relative;
}

.parallax-team:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: rgba(255,255,255,0.1);
}

/*Parallax Quote*/
.parallax-quote {
	color: #fff;
	padding: 40px 0;
	position: relative;
	/*text-align: center; http://placehold.it/1900x600/fff000/000000/&text=prueba*/
	background: url('../images/bgs/bg-fix.jpg ') 50% 0 fixed;
}

.parallax-quote:after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: rgba(0,0,0,0);
}

.parallax-quote:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	/*background: url(../img/patterns/gridtile.png) repeat;*/
}




.box-fbx-logo img.img-responsive {
    height: 70px;
    margin-top: 5px;
}

.box-fbx-nav .icon-bar{
	color: #f1f1f1;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{

}
.navbar-default{
	background: transparent;
	border:none;
}
nav.pull-right.navbar.navbar-default.box-fbx-nav{
	margin-bottom: 0px;
    min-height: 30px;
}

nav.pull-right.navbar.navbar-default.box-fbx-nav ul li a {
    padding: 0px;
}
@media(max-width:992px){
section.banner-fbx {
margin-top: 20px;
}
}
@media(max-width:767px){
	#body-fbx .box-fbx-productos p{padding: 10px;}

#body-fbx .box-fbx-ftball h2{
	font-size: 24px;
}
section.banner-fbx {
margin-top: 0px;
}

.box-fbx-logo img.img-responsive {
    height: auto;
    /*padding-top: 10px;*/
	
}
.tel{
	display: none;
	padding-bottom: 5px;
}
.box-fbx-nav ul li{
	float: none;
	width: 100%;
}
body{padding: 0px;}


.nav-fbx{
	position: relative;
	padding-top: 10px;
	min-height: 110px;

}

nav.pull-right.navbar.navbar-default.box-fbx-nav {
    right: 0px;
    top:60px;
    position: absolute;
    width: 100%;
}


div#bs-example-navbar-collapse-1{
	background: #fff;
}

}
@media(min-width:768px){}

@media(min-width:1200px){}
