@import url('../fonts/ptsans_bold_macroman/stylesheet.css');
@import url('../fonts/ptsans_regular_macroman/stylesheet.css');
@import url('../fonts/ptsansnarrow_bold_macroman/stylesheet.css');
@import url('../fonts/ptsansnarrow_regular_macroman/stylesheet.css');



body{padding: 120px 0px 0px; color: #4c535b;}
.nav-fbx {
	padding: 15px 0px 10px;margin-bottom: 0px;font-family: 'pt_sansregular';
	transition: opacity,padding .55s ease-in-out;
    -moz-transition: opacity,padding .55s ease-in-out;
    -webkit-transition: opacity,padding .55s ease-in-out;

}


 h1,h2,h3{
	font-family: 'pt_sans_narrowbold';
/*    font-size: 25px;
    color: #4c535b;
    margin-top: 30px;*/

}
h4{
	font-family: 'pt_sansbold';
}
p,label,input{
	font-family: 'pt_sansregular';
}
.nav-fbx.active{
  background-color: #fff;
  opacity: 1;
  padding: 5px;
  transition: opacity,padding .55s ease-in-out;
  -moz-transition: opacity,padding .55s ease-in-out;
  -webkit-transition: opacity,padding .55s ease-in-out;

  /*background: #f1f1f1;*/
}
section.banner-fbx {
    margin-top: 15px;
}
.box-fbx-a {margin: 15px 0px 8px;}
.box-fbx-nav ul {list-style: none; padding: 0px;margin: 0px 0px;}
.box-fbx-nav ul li{float: left; padding:  5px; font-family: 'pt_sansregular';}

.banner-fbx .carousel .item {width: 100%; min-height: 400px; background:url('../images/bgs/banner.jpg');}

.banner-fbx .carousel .item img {    width: 100%;}
.banner-fbx .carousel .carousel-control {    background: none;    border: none;    top: 50%;}
.banner-fbx .box-fbx-nav div{padding: 0px}
.banner-fbx .box-fbx-nav a img{	
	width: 100%;
	opacity: 1;
	/*height: 260px;*/
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.banner-fbx .box-fbx-nav div  a:hover img{
	opacity:0.8;
}
.fbx-ico-cancha {position: relative;height: 170px;z-index: 99;top: -35px;}
.fbx-ico-cancha img {position: absolute;}

#body-fbx .box-fbx-ftball h1{
	margin-top: 65px;
	border-bottom: solid 2px #dedfe1;
	padding-bottom: 20px;
    font-family: 'pt_sans_narrowbold';
    font-size: 31px;
}
#body-fbx .box-fbx-ftball h2{
	font-size: 27px;
	color: #7c8187;
	font-family:'pt_sansbold';
}

.box-fbx-ftball hr{
    border: 0;
    height: 2px;
    background: #dedfe1;
}

.hr-fbx{
      background:url('../images/bgs/bg-hr.jpg') repeat-x top left;
      border: 0;
      margin: 70px 0px 100px;
      height: 20px;
}
.no-mp {margin: 10px; padding: 0px;}
.hr-fbx-b{
      background:url('../images/bgs/bg-hr-b.jpg') repeat-x top left;
      border: 0;
      margin: 70px 0px 70px;
      height: 20px;
}
#body-fbx .box-fbx-ftball p{
	color: #4c535b;
	font-family: 'pt_sansregular';
	font-size: 1.1em;
}

.box-fbx-gris{background: #f1f1f1;margin: 80px 0px;
padding: 00px 0px 30px;
}
.form-at-empresa {
	background-color: #f1f1f1;
	padding-top:10px;
	padding-bottom:10px;
}
.bg-arrow {
	  background:url('../images/bgs/arrow.png') no-repeat center left;
	  background-color:#f1f1f1; 
	  background-position-y: 30%;
}
.fbx-aim-b {
	padding-top: 50px;
}


#body-fbx .box-fbx-productos h2{
	font-family: 'pt_sans_narrowbold';
    font-size: 25px;
    color: #4c535b;
    margin-top: 30px;

}
#body-fbx .box-fbx-productos p{
	font-family: 'pt_sansregular';
	font-size: 1.1em;
	/* margin: 25px 50px; */
	padding: 10px 160px;
}
#body-fbx .box-fbx-productos p img{
	margin: 5px;
}



.fbx-relleno{
	background: #00437a;
	margin: 80px 0px 20px;
	padding-top:30px;
	padding-bottom:30px;
	color:#fff;
}
.fbx-relleno h2 {
	margin-top: 0px;
}

.fbx-relleno .box-fbx-text{
	padding-left: 50px;
	padding-right: 50px;
}
.galeria div{padding: 0px;}
.galeria div img{
	padding:5px;
}

.certi{margin-bottom: 0px;}

.certi img{
	padding:20px 10px;
}

.box-fbx-bf-fixed{
	/*height: 500px;*/

	background-color: #1F1F1F;
	background-image:url('../images/bgs/bg-fix.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
	color:#fff;
}

.fbx-vista-obras{
	background:url('../images/bgs/o-x-arrow.png') no-repeat top right;
	background-position-y: 7%;
	/* background-size: inherit; */
}


.box-fbx-bf-fixed ul {list-style: none; padding: 0px;}
.box-fbx-bf-fixed ul li{float:left; padding: 10px; text-align: center;}

.box-fbx-empresa{
	padding: 20px;
	margin: 60px 0px;
}

footer nav {
	background: #727375;
	padding: 15px;
}

footer nav ul {list-style: none;padding:10px; margin:15px 0px;}
footer nav ul li {
	float: left;
	padding:10px;
	
}
footer nav ul li a{
	color:#fff;
}
.box-fbx-empresa h3{
	margin: 0px;
	font-size: 22px;
}
.aim .capa-1{
 margin-top: 235px;
}
.aim .capa-2{
 margin-top: -260px; 
 margin-left: 100px; position: relative; z-index: 9;
}
.aim .capa-3{
  margin-top: -303px; 
  margin-left: 0px;
}
.aim .capa-4{
margin-top: -302px; 
margin-left: 71px; position: relative; z-index: 10;
}
.aim .capa-5{
 margin-top: 25px; margin-left: 55px;
}

@media (max-width: 767px) { 

}

/*Parallax Backgrounds
------------------------------------*/
/*Parallax Counter Block*/
.parallax-counter {
	padding: 30px 0;
	background: url(../img/patterns/5.png) repeat fixed;
}

.parallax-counter .counters {
	color: #fff;
	padding: 15px 0;
	/*background: rgba(255,255,255,0.1);*/
}

.parallax-counter h4 {
	color: #999;
	font-size: 16px;
	text-transform: uppercase;
}

.parallax-counter span.counter {
	font-size: 48px;
}

/*Parallax Team*/
.parallax-team {
	background: url(../img/team/faces.html) 50% 0 repeat fixed;	
}

.parallax-team,
.parallax-team .title-box-v2 {
	position: relative;
}

.parallax-team:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: rgba(255,255,255,0.1);
}

/*Parallax Quote*/
.parallax-quote {
	color: #fff;
	padding: 40px 0;
	position: relative;
	/*text-align: center; http://placehold.it/1900x600/fff000/000000/&text=prueba*/
	background: url('../images/bgs/bg-fix.jpg ') 50% 0 fixed;
}

.parallax-quote:after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: rgba(0,0,0,0);
}

.parallax-quote:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: url(../img/patterns/gridtile.png) repeat;
}

.parallax-quote-in {
	z-index: 1;
	padding: 0 80px;
 	position: relative; 
}

.parallax-quote-in p {
	color: #fff;
	font-size: 28px;
 	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.parallax-quote-in p:after,
.parallax-quote-in p:before {
	content: ' " ';
	position: absolute;
	font-family: Tahoma;
}

.parallax-quote-in p:after {
	margin-left: 3px;
}

.parallax-quote-in p:before {
	margin-left: -15px;
}

.parallax-
-in small {
	color: #bbb;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

/*Parallax Twitter*/
.parallax-twitter {
	color: #fff;
	padding: 100px 0;
	position: relative;
	text-align: center;
	background: #333 url(../img/bg/bg2.jpg) 50% 0 fixed;
}

.parallax-twitter:after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: rgba(0,0,0,0);
}

.parallax-twitter:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	content: " ";
	position: absolute;
	background: url(../img/patterns/gridtile.png) repeat;
}

.parallax-twitter-in {
	z-index: 1;
	position: relative;
}

/*Twitter Block (owl-controls)*/
.parallax-twitter-in ul {
	margin: 0;
}

.parallax-twitter-in li {
	color: #fff;
}

.parallax-twitter-in li p {
	color: #fff;
	font-size: 18px;
	font-weight: 200;
	/*margin-bottom: 0;*/
}

.parallax-twitter-in li a {
	color: #eee;
	text-decoration: underline;
}

.parallax-twitter-in li a:hover {
	/*color: #72c02c;*/
	text-decoration: none;
}

.parallax-twitter-in li span {
	color: #ddd;
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
}

.parallax-twitter-in .owl-page {
	width: 18px;
}